.menu-list {
  width: 224px;
  padding-bottom: 8px;
}

.menu-list .menu-item {
  margin-left: 0;
  color: var(--black);
  font-weight: 600;
  width: 100%;
  justify-content: start;
  border: none;
  padding: 12px 6px;
  font-size: 1.6rem;
  // line-height: 1;
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0;
  }
}

.menu-propper {
  padding-bottom: 8px;
}

.menu-body{
overflow-y: auto;
}
::-webkit-scrollbar-thumb {
  background: rgba(22, 24, 35, 0.06);; 
  border-radius: 10px;
}


.header {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  cursor: pointer;
  flex-shrink: 0;
}

.back-btn {
  position: absolute;
  left: 28px;
  font-size: 20px;
}

.header-title {
  // text-align: center;
  // font-weight: 500;
  font-size: 1.8rem;
}


